// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wavix from "../../../index.js";
import { ResultsClient } from "../resources/results/client/Client.js";

export declare namespace NumberValidatorClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class NumberValidatorClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<NumberValidatorClient.Options>;
    protected _results: ResultsClient | undefined;

    constructor(options: NumberValidatorClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get results(): ResultsClient {
        return (this._results ??= new ResultsClient(this._options));
    }

    /**
     * Validates a single phone number and returns line type, carrier, portability, and reachability details.
     *
     * @param {Wavix.GetNumberValidatorRequest} request
     * @param {NumberValidatorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.numberValidator.get({
     *         phone_number: "971569483322",
     *         type: "format"
     *     })
     */
    public get(
        request: Wavix.GetNumberValidatorRequest,
        requestOptions?: NumberValidatorClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.GetNumberValidatorResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wavix.GetNumberValidatorRequest,
        requestOptions?: NumberValidatorClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.GetNumberValidatorResponse>> {
        const { phone_number: phoneNumber, type: type_ } = request;
        const _queryParams: Record<string, unknown> = {
            phone_number: phoneNumber,
            type: type_,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/validation",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.GetNumberValidatorResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/validation");
    }

    /**
     * Validates a batch of phone numbers. When `async` is `true`, returns a `request_id` to poll for results instead of the validation details.
     *
     * @param {Wavix.PhoneValidationRequest} request
     * @param {NumberValidatorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.numberValidator.createBulk({
     *         phone_numbers: ["971501390098", "971504359195"],
     *         type: "format",
     *         async: true,
     *         force: true
     *     })
     */
    public createBulk(
        request: Wavix.PhoneValidationRequest,
        requestOptions?: NumberValidatorClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.NumberValidatorCreateBulkResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createBulk(request, requestOptions));
    }

    private async __createBulk(
        request: Wavix.PhoneValidationRequest,
        requestOptions?: NumberValidatorClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.NumberValidatorCreateBulkResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/validation",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wavix.NumberValidatorCreateBulkResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/validation");
    }
}
