// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wavix from "../../../index.js";
import { TransactionsClient } from "../resources/transactions/client/Client.js";

export declare namespace SubAccountsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SubAccountsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SubAccountsClient.Options>;
    protected _transactions: TransactionsClient | undefined;

    constructor(options: SubAccountsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get transactions(): TransactionsClient {
        return (this._transactions ??= new TransactionsClient(this._options));
    }

    /**
     * Returns a paginated list of sub-accounts under the authenticated master account.
     *
     * @param {Wavix.ListSubAccountsRequest} request
     * @param {SubAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.UnauthorizedError}
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.subAccounts.list()
     */
    public list(
        request: Wavix.ListSubAccountsRequest = {},
        requestOptions?: SubAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.SubAccountsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wavix.ListSubAccountsRequest = {},
        requestOptions?: SubAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.SubAccountsListResponse>> {
        const { status } = request;
        const _queryParams: Record<string, unknown> = {
            status: status != null ? status : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/sub-organizations",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.SubAccountsListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Wavix.UnauthorizedError(
                        _response.error.body as Wavix.UnauthorizedErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/sub-organizations");
    }

    /**
     * Creates a sub-account under the authenticated master account. Returns the sub-account with its generated `api_key`.
     *
     * @param {Wavix.SubAccountsCreateRequest} request
     * @param {SubAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.UnprocessableEntityError}
     *
     * @example
     *     await client.subAccounts.create({
     *         name: "Company",
     *         default_destinations: {
     *             sms_endpoint: "https://examples.com/sms",
     *             dlr_endpoint: "https://examples.com/dlr"
     *         }
     *     })
     */
    public create(
        request: Wavix.SubAccountsCreateRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.SubOrganizationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wavix.SubAccountsCreateRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.SubOrganizationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/sub-organizations",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.SubOrganizationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wavix.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/sub-organizations");
    }

    /**
     * Returns the sub-account identified by `id`.
     *
     * @param {Wavix.GetSubAccountsRequest} request
     * @param {SubAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.UnauthorizedError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.subAccounts.get({
     *         id: 123
     *     })
     */
    public get(
        request: Wavix.GetSubAccountsRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.SubOrganizationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wavix.GetSubAccountsRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.SubOrganizationResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/sub-organizations/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.SubOrganizationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Wavix.UnauthorizedError(
                        _response.error.body as Wavix.UnauthorizedErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/sub-organizations/{id}");
    }

    /**
     * Replaces the configuration of the sub-account identified by `id`. Omitted fields revert to their defaults.
     *
     * @param {Wavix.SubAccountsUpdateRequest} request
     * @param {SubAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.UnauthorizedError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     * @throws {@link Wavix.UnprocessableEntityError}
     *
     * @example
     *     await client.subAccounts.update({
     *         id: 123,
     *         name: "Updated Company Name",
     *         status: "enabled",
     *         default_destinations: {
     *             sms_endpoint: "https://examples.com/sms",
     *             dlr_endpoint: "https://examples.com/dlr"
     *         }
     *     })
     */
    public update(
        request: Wavix.SubAccountsUpdateRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.SubOrganizationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Wavix.SubAccountsUpdateRequest,
        requestOptions?: SubAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.SubOrganizationResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/sub-organizations/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.SubOrganizationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Wavix.UnauthorizedError(
                        _response.error.body as Wavix.UnauthorizedErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wavix.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/sub-organizations/{id}");
    }
}
