// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wavix from "../../../../../index.js";

export declare namespace CampaignNumbersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CampaignNumbersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CampaignNumbersClient.Options>;

    constructor(options: CampaignNumbersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Links a phone number to a 10DLC Campaign. Wavix automatically creates a Sender ID once the number is approved.
     *
     * @param {Wavix.tenDlc.LinkCampaignNumbersRequest} request
     * @param {CampaignNumbersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.tenDlc.campaignNumbers.link({
     *         brand_id: "B9FXYNH",
     *         campaign_id: "CSJ4TV0",
     *         number: "17029641104"
     *     })
     */
    public link(
        request: Wavix.tenDlc.LinkCampaignNumbersRequest,
        requestOptions?: CampaignNumbersClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.LinkCampaignNumbersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__link(request, requestOptions));
    }

    private async __link(
        request: Wavix.tenDlc.LinkCampaignNumbersRequest,
        requestOptions?: CampaignNumbersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.LinkCampaignNumbersResponse>> {
        const { brand_id: brandId, campaign_id: campaignId, number: number_ } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}/campaigns/${core.url.encodePathParam(campaignId)}/numbers/${core.url.encodePathParam(number_)}`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wavix.tenDlc.LinkCampaignNumbersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v3/10dlc/brands/{brand_id}/campaigns/{campaign_id}/numbers/{number}",
        );
    }

    /**
     * Unlinks a phone number from a 10DLC Campaign. The associated Sender ID is also deleted.
     *
     * @param {Wavix.tenDlc.UnlinkCampaignNumbersRequest} request
     * @param {CampaignNumbersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.tenDlc.campaignNumbers.unlink({
     *         brand_id: "B9FXYNH",
     *         campaign_id: "CSJ4TV0",
     *         number: "17029641104"
     *     })
     */
    public unlink(
        request: Wavix.tenDlc.UnlinkCampaignNumbersRequest,
        requestOptions?: CampaignNumbersClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.UnlinkCampaignNumbersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__unlink(request, requestOptions));
    }

    private async __unlink(
        request: Wavix.tenDlc.UnlinkCampaignNumbersRequest,
        requestOptions?: CampaignNumbersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.UnlinkCampaignNumbersResponse>> {
        const { brand_id: brandId, campaign_id: campaignId, number: number_ } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}/campaigns/${core.url.encodePathParam(campaignId)}/numbers/${core.url.encodePathParam(number_)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wavix.tenDlc.UnlinkCampaignNumbersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v3/10dlc/brands/{brand_id}/campaigns/{campaign_id}/numbers/{number}",
        );
    }

    /**
     * Returns the phone numbers linked to the 10DLC Campaign identified by `campaign_id`.
     *
     * @param {Wavix.tenDlc.ListCampaignNumbersRequest} request
     * @param {CampaignNumbersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.tenDlc.campaignNumbers.list({
     *         brand_id: "B9FXYNH",
     *         campaign_id: "CSJ4TV0"
     *     })
     */
    public list(
        request: Wavix.tenDlc.ListCampaignNumbersRequest,
        requestOptions?: CampaignNumbersClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.ListCampaignNumbersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wavix.tenDlc.ListCampaignNumbersRequest,
        requestOptions?: CampaignNumbersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.ListCampaignNumbersResponse>> {
        const { brand_id: brandId, campaign_id: campaignId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}/campaigns/${core.url.encodePathParam(campaignId)}/numbers`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wavix.tenDlc.ListCampaignNumbersResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v3/10dlc/brands/{brand_id}/campaigns/{campaign_id}/numbers",
        );
    }
}
