// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wavix from "../../../index.js";

export declare namespace CallWebhooksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Webhook configuration for call events
 */
export class CallWebhooksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CallWebhooksClient.Options>;

    constructor(options: CallWebhooksClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the configured call webhooks for the authenticated account. Wavix sends POST callbacks for `on-call` and `post-call` events.
     *
     * @param {CallWebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.UnauthorizedError}
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.callWebhooks.list()
     */
    public list(
        requestOptions?: CallWebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.CallWebhookListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: CallWebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.CallWebhookListResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/calls/webhooks",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.CallWebhookListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Wavix.UnauthorizedError(
                        _response.error.body as Wavix.UnauthorizedErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/calls/webhooks");
    }

    /**
     * Registers a callback URL for the `on-call` or `post-call` event. Wavix sends a POST callback to the URL when the event occurs.
     *
     * @param {Wavix.CallWebhooksCreateRequest} request
     * @param {CallWebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.UnauthorizedError}
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.callWebhooks.create({
     *         url: "https://you-site.com/webhook",
     *         event_type: "post-call"
     *     })
     */
    public create(
        request: Wavix.CallWebhooksCreateRequest,
        requestOptions?: CallWebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.CallWebhook> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wavix.CallWebhooksCreateRequest,
        requestOptions?: CallWebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.CallWebhook>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/calls/webhooks",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.CallWebhook, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Wavix.UnauthorizedError(
                        _response.error.body as Wavix.UnauthorizedErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/calls/webhooks");
    }

    /**
     * Removes the call webhook for the given event type. Wavix stops sending callbacks for that event.
     *
     * @param {Wavix.DeleteCallWebhooksRequest} request
     * @param {CallWebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.UnauthorizedError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.UnprocessableEntityError}
     *
     * @example
     *     await client.callWebhooks.delete({
     *         event_type: "post-call"
     *     })
     */
    public delete(
        request: Wavix.DeleteCallWebhooksRequest,
        requestOptions?: CallWebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Wavix.DeleteCallWebhooksRequest,
        requestOptions?: CallWebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.SuccessResponse>> {
        const { event_type: eventType } = request;
        const _queryParams: Record<string, unknown> = {
            event_type: eventType,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/calls/webhooks",
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Wavix.UnauthorizedError(
                        _response.error.body as Wavix.UnauthorizedErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wavix.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/calls/webhooks");
    }
}
