// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wavix from "../../../../../index.js";

export declare namespace BrandsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BrandsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BrandsClient.Options>;

    constructor(options: BrandsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of 10DLC Brands for the authenticated account, filtered by date, name, legal name, and status.
     *
     * @param {Wavix.tenDlc.ListBrandsRequest} request
     * @param {BrandsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.tenDlc.brands.list({
     *         dba_name: "Brand",
     *         company_name: "Company",
     *         entity_type: "PRIVATE_PROFIT",
     *         status: "VERIFIED",
     *         country: "US",
     *         show_deleted: false,
     *         ein_taxid: "999999999",
     *         mock: false,
     *         created_before: "2024-08-22",
     *         created_after: "2024-08-22",
     *         page: 1,
     *         per_page: 25
     *     })
     */
    public list(
        request: Wavix.tenDlc.ListBrandsRequest = {},
        requestOptions?: BrandsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.ListBrandsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wavix.tenDlc.ListBrandsRequest = {},
        requestOptions?: BrandsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.ListBrandsResponse>> {
        const {
            dba_name: dbaName,
            company_name: companyName,
            entity_type: entityType,
            status,
            country,
            show_deleted: showDeleted,
            ein_taxid: einTaxid,
            mock,
            created_before: createdBefore,
            created_after: createdAfter,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            dba_name: dbaName,
            company_name: companyName,
            entity_type: entityType,
            status,
            country,
            show_deleted: showDeleted,
            ein_taxid: einTaxid,
            mock,
            created_before: createdBefore,
            created_after: createdAfter,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v3/10dlc/brands",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.tenDlc.ListBrandsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v3/10dlc/brands");
    }

    /**
     * Registers a 10DLC Brand. TCR automatically verifies the brand identity. Only brands with `VERIFIED` or `VETTED_VERIFIED` identity status can register 10DLC Campaigns.
     *
     * @param {Wavix.TenDlcBrandCreateRequest} request
     * @param {BrandsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.tenDlc.brands.create({})
     */
    public create(
        request: Wavix.TenDlcBrandCreateRequest,
        requestOptions?: BrandsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.CreateBrandsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wavix.TenDlcBrandCreateRequest,
        requestOptions?: BrandsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.CreateBrandsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v3/10dlc/brands",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.tenDlc.CreateBrandsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v3/10dlc/brands");
    }

    /**
     * Returns the 10DLC Brand identified by `brand_id`.
     *
     * @param {Wavix.tenDlc.GetBrandsRequest} request
     * @param {BrandsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.tenDlc.brands.get({
     *         brand_id: "BM20QP9"
     *     })
     */
    public get(
        request: Wavix.tenDlc.GetBrandsRequest,
        requestOptions?: BrandsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.GetBrandsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wavix.tenDlc.GetBrandsRequest,
        requestOptions?: BrandsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.GetBrandsResponse>> {
        const { brand_id: brandId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.tenDlc.GetBrandsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v3/10dlc/brands/{brand_id}");
    }

    /**
     * Updates the 10DLC Brand identified by `brand_id`. Changing identity fields, including `ein_taxid`, `ein_taxid_country`, and `entity_type`, resets the Brand status to `UNVERIFIED` and triggers automatic re-submission. Brands in `VETTED_VERIFIED` status or with active Campaigns cannot be updated.
     *
     * @param {Wavix.tenDlc.TenDlcBrandUpdateRequest} request
     * @param {BrandsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     * @throws {@link Wavix.UnprocessableEntityError}
     *
     * @example
     *     await client.tenDlc.brands.update({
     *         brand_id: "BM20QP9"
     *     })
     */
    public update(
        request: Wavix.tenDlc.TenDlcBrandUpdateRequest,
        requestOptions?: BrandsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.UpdateBrandsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Wavix.tenDlc.TenDlcBrandUpdateRequest,
        requestOptions?: BrandsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.UpdateBrandsResponse>> {
        const { brand_id: brandId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.tenDlc.UpdateBrandsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wavix.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v3/10dlc/brands/{brand_id}");
    }

    /**
     * Deletes a 10DLC Brand. Brands with active campaigns cannot be deleted.
     *
     * @param {Wavix.tenDlc.DeleteBrandsRequest} request
     * @param {BrandsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.tenDlc.brands.delete({
     *         brand_id: "BM20QP9"
     *     })
     */
    public delete(
        request: Wavix.tenDlc.DeleteBrandsRequest,
        requestOptions?: BrandsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.DeleteBrandsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Wavix.tenDlc.DeleteBrandsRequest,
        requestOptions?: BrandsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.DeleteBrandsResponse>> {
        const { brand_id: brandId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.tenDlc.DeleteBrandsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v3/10dlc/brands/{brand_id}",
        );
    }

    /**
     * Returns the qualification results for a 10DLC Brand use case. Includes MNO-specific attributes, restrictions, and fees.
     *
     * @param {Wavix.tenDlc.QualifyUsecaseBrandsRequest} request
     * @param {BrandsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     * @throws {@link Wavix.UnprocessableEntityError}
     *
     * @example
     *     await client.tenDlc.brands.qualifyUsecase({
     *         brand_id: "BMQFB7X",
     *         use_case: "AGENTS_FRANCHISES"
     *     })
     */
    public qualifyUsecase(
        request: Wavix.tenDlc.QualifyUsecaseBrandsRequest,
        requestOptions?: BrandsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.QualifyUsecaseBrandsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__qualifyUsecase(request, requestOptions));
    }

    private async __qualifyUsecase(
        request: Wavix.tenDlc.QualifyUsecaseBrandsRequest,
        requestOptions?: BrandsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.QualifyUsecaseBrandsResponse>> {
        const { brand_id: brandId, use_case: useCase } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}/usecases/${core.url.encodePathParam(useCase)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wavix.tenDlc.QualifyUsecaseBrandsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wavix.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v3/10dlc/brands/{brand_id}/usecases/{use_case}",
        );
    }
}
