// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wavix from "../../../index.js";
import { TranscriptionClient } from "../resources/transcription/client/Client.js";

export declare namespace CdrsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Call detail records and call history
 */
export class CdrsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CdrsClient.Options>;
    protected _transcription: TranscriptionClient | undefined;

    constructor(options: CdrsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get transcription(): TranscriptionClient {
        return (this._transcription ??= new TranscriptionClient(this._options));
    }

    /**
     * Returns a paginated list of call detail records for the authenticated account, within the requested date range.
     *
     * @param {Wavix.ListCdrsRequest} request
     * @param {CdrsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     *
     * @example
     *     await client.cdrs.list({
     *         from: "2023-01-01",
     *         to: "2023-09-01",
     *         type: "received",
     *         from_search: "13524815863",
     *         to_search: "12565378257",
     *         sip_trunk: "12321",
     *         uuid: "99df5ffd-962a-410f-bcce-d08f1f7f328c",
     *         page: 1,
     *         per_page: 25
     *     })
     */
    public list(
        request: Wavix.ListCdrsRequest,
        requestOptions?: CdrsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.CdrListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wavix.ListCdrsRequest,
        requestOptions?: CdrsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.CdrListResponse>> {
        const {
            from: from_,
            to,
            type: type_,
            disposition,
            from_search: fromSearch,
            to_search: toSearch,
            sip_trunk: sipTrunk,
            uuid,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            from: from_,
            to,
            type: type_,
            disposition: disposition != null ? disposition : undefined,
            from_search: fromSearch,
            to_search: toSearch,
            sip_trunk: sipTrunk,
            uuid,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/cdrs",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.CdrListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/cdrs");
    }

    /**
     * Searches call transcriptions for the given keywords or phrases and returns the matching CDRs with their transcriptions.
     *
     * @param {Wavix.CdrSearchRequest} request
     * @param {CdrsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.UnprocessableEntityError}
     *
     * @example
     *     await client.cdrs.search({
     *         type: "placed",
     *         from: "2023-08-01",
     *         to: "2023-08-31",
     *         page: 1,
     *         per_page: 50
     *     })
     */
    public search(
        request: Wavix.CdrSearchRequest,
        requestOptions?: CdrsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.CdrTranscriptionSearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__search(request, requestOptions));
    }

    private async __search(
        request: Wavix.CdrSearchRequest,
        requestOptions?: CdrsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.CdrTranscriptionSearchResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/cdrs",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.CdrTranscriptionSearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wavix.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/cdrs");
    }

    /**
     * Transcribes the recording of the call identified by `call_id`. Transcription is asynchronous; poll the transcription endpoint for the result.
     *
     * @param {Wavix.CdrRetranscriptionRequest} request
     * @param {CdrsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     * @throws {@link Wavix.UnprocessableEntityError}
     *
     * @example
     *     await client.cdrs.retranscribe({
     *         call_id: "bbaa37bf-430a-46da-ade3-c248e407016"
     *     })
     */
    public retranscribe(
        request: Wavix.CdrRetranscriptionRequest,
        requestOptions?: CdrsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retranscribe(request, requestOptions));
    }

    private async __retranscribe(
        request: Wavix.CdrRetranscriptionRequest,
        requestOptions?: CdrsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.SuccessResponse>> {
        const { call_id: callId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/cdrs/${core.url.encodePathParam(callId)}/retranscribe`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wavix.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v1/cdrs/{call_id}/retranscribe",
        );
    }

    /**
     * Returns the transcription of the recorded call identified by `call_id`. Alias of the `transcription` endpoint.
     *
     * @param {Wavix.TranscriptionsCdrsRequest} request
     * @param {CdrsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.cdrs.transcriptions({
     *         call_id: "bbaa37bf-430a-46da-ade3-c248e407016"
     *     })
     */
    public transcriptions(
        request: Wavix.TranscriptionsCdrsRequest,
        requestOptions?: CdrsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.CdrTranscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__transcriptions(request, requestOptions));
    }

    private async __transcriptions(
        request: Wavix.TranscriptionsCdrsRequest,
        requestOptions?: CdrsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.CdrTranscriptionResponse>> {
        const { call_id: callId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/cdrs/${core.url.encodePathParam(callId)}/transcriptions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.CdrTranscriptionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/cdrs/{call_id}/transcriptions",
        );
    }

    /**
     * Returns the call detail record for the call identified by `call_id`.
     *
     * @param {Wavix.GetCdrsRequest} request
     * @param {CdrsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.cdrs.get({
     *         call_id: "aa566501-c591-4a8b-b3b9-cc1295398b72",
     *         show_transcription: true
     *     })
     */
    public get(
        request: Wavix.GetCdrsRequest,
        requestOptions?: CdrsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.CdrResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wavix.GetCdrsRequest,
        requestOptions?: CdrsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.CdrResponse>> {
        const { call_id: callId, show_transcription: showTranscription } = request;
        const _queryParams: Record<string, unknown> = {
            show_transcription: showTranscription,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/cdrs/${core.url.encodePathParam(callId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.CdrResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/cdrs/{call_id}");
    }

    /**
     * Streams matching call detail records as newline-delimited JSON (NDJSON), one record per line, for bulk export.
     *
     * @param {Wavix.ListAllCdrsRequest} request
     * @param {CdrsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.cdrs.listAll({
     *         from: "2023-01-01",
     *         to: "2023-09-01",
     *         type: "received",
     *         from_search: "13524815863",
     *         to_search: "12565378257",
     *         sip_trunk: "12321",
     *         uuid: "99df5ffd-962a-410f-bcce-d08f1f7f328c",
     *         page: 1,
     *         per_page: 25
     *     })
     */
    public listAll(
        request: Wavix.ListAllCdrsRequest,
        requestOptions?: CdrsClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__listAll(request, requestOptions));
    }

    private async __listAll(
        request: Wavix.ListAllCdrsRequest,
        requestOptions?: CdrsClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const {
            from: from_,
            to,
            type: type_,
            disposition,
            from_search: fromSearch,
            to_search: toSearch,
            sip_trunk: sipTrunk,
            uuid,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            from: from_,
            to,
            type: type_,
            disposition: disposition != null ? disposition : undefined,
            from_search: fromSearch,
            to_search: toSearch,
            sip_trunk: sipTrunk,
            uuid,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/cdrs/all",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/cdrs/all");
    }
}
