// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wavix from "../../../../../index.js";

export declare namespace CampaignsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CampaignsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CampaignsClient.Options>;

    constructor(options: CampaignsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of 10DLC Campaigns for the authenticated account, filtered by date, status, and use case.
     *
     * @param {Wavix.tenDlc.ListCampaignsRequest} request
     * @param {CampaignsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.tenDlc.campaigns.list({
     *         name: "Name",
     *         usecase: "2FA",
     *         status: "APPROVED",
     *         mock: true,
     *         created_before: "2024-08-22",
     *         created_after: "2024-08-22",
     *         page: 1,
     *         per_page: 25
     *     })
     */
    public list(
        request: Wavix.tenDlc.ListCampaignsRequest = {},
        requestOptions?: CampaignsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.ListCampaignsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wavix.tenDlc.ListCampaignsRequest = {},
        requestOptions?: CampaignsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.ListCampaignsResponse>> {
        const {
            name,
            usecase,
            status,
            mock,
            created_before: createdBefore,
            created_after: createdAfter,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            usecase,
            status,
            mock,
            created_before: createdBefore != null ? createdBefore : undefined,
            created_after: createdAfter != null ? createdAfter : undefined,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v3/10dlc/brands/campaigns",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.tenDlc.ListCampaignsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v3/10dlc/brands/campaigns");
    }

    /**
     * Returns a paginated list of 10DLC Campaigns associated with the 10DLC Brand identified by `brand_id`.
     *
     * @param {Wavix.tenDlc.ListByBrandCampaignsRequest} request
     * @param {CampaignsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.tenDlc.campaigns.listByBrand({
     *         brand_id: "BM20QP9",
     *         name: "Name",
     *         usecase: "2FA",
     *         status: "APPROVED",
     *         mock: true,
     *         created_before: "2024-08-22",
     *         created_after: "2024-08-22",
     *         page: 1,
     *         per_page: 25
     *     })
     */
    public listByBrand(
        request: Wavix.tenDlc.ListByBrandCampaignsRequest,
        requestOptions?: CampaignsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.ListByBrandCampaignsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listByBrand(request, requestOptions));
    }

    private async __listByBrand(
        request: Wavix.tenDlc.ListByBrandCampaignsRequest,
        requestOptions?: CampaignsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.ListByBrandCampaignsResponse>> {
        const {
            brand_id: brandId,
            name,
            usecase,
            status,
            mock,
            created_before: createdBefore,
            created_after: createdAfter,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            usecase,
            status,
            mock,
            created_before: createdBefore != null ? createdBefore : undefined,
            created_after: createdAfter != null ? createdAfter : undefined,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}/campaigns`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wavix.tenDlc.ListByBrandCampaignsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v3/10dlc/brands/{brand_id}/campaigns",
        );
    }

    /**
     * Registers a 10DLC Campaign under the 10DLC Brand identified by `brand_id`. The Brand must have a verified identity status.
     *
     * @param {Wavix.tenDlc.TenDlcCampaignCreateRequest} request
     * @param {CampaignsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.tenDlc.campaigns.create({
     *         brand_id: "BM20QP9",
     *         affiliate_marketing: false,
     *         age_gated: false,
     *         auto_renewal: false,
     *         direct_lending: false,
     *         embedded_links: false,
     *         embedded_phones: false,
     *         embedded_link_sample: "https://site.com/verify",
     *         description: "Our campaign aims to \u2026",
     *         optin_workflow: "Our SMS ...",
     *         help: true,
     *         help_keywords: "help",
     *         help_message: "For help, please visit www.site.com. To opt-out, reply STOP.",
     *         optin: true,
     *         optin_keywords: "begin,start",
     *         optin_message: "You are now opted-in for help please reply HELP, to stop please reply STOP",
     *         optout: true,
     *         optout_keywords: "stop,quit,unsubscribe",
     *         optout_message: "You are now opted out and will receive no further messages",
     *         name: "My first campaign",
     *         sample1: "Your verification code is XXXXXX",
     *         sample2: "XXXX is your verification code",
     *         sample3: "Your code is XXXXXX, valid for 10 minutes",
     *         sample4: "Use code XXXXXX to confirm your login",
     *         sample5: "XXXXXX is your one-time passcode",
     *         mock: false,
     *         usecase: "2FA",
     *         privacy_policy: "https://site.com/privacy-policy",
     *         terms_conditions: "https://site.com/terms-and-conditions"
     *     })
     */
    public create(
        request: Wavix.tenDlc.TenDlcCampaignCreateRequest,
        requestOptions?: CampaignsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.CreateCampaignsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wavix.tenDlc.TenDlcCampaignCreateRequest,
        requestOptions?: CampaignsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.CreateCampaignsResponse>> {
        const { brand_id: brandId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}/campaigns`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.tenDlc.CreateCampaignsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v3/10dlc/brands/{brand_id}/campaigns",
        );
    }

    /**
     * Returns the 10DLC Campaign identified by `campaign_id` under the Brand identified by `brand_id`.
     *
     * @param {Wavix.tenDlc.GetCampaignsRequest} request
     * @param {CampaignsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.tenDlc.campaigns.get({
     *         brand_id: "BM20QP9",
     *         campaign_id: "CKLCK95"
     *     })
     */
    public get(
        request: Wavix.tenDlc.GetCampaignsRequest,
        requestOptions?: CampaignsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.GetCampaignsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wavix.tenDlc.GetCampaignsRequest,
        requestOptions?: CampaignsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.GetCampaignsResponse>> {
        const { brand_id: brandId, campaign_id: campaignId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}/campaigns/${core.url.encodePathParam(campaignId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.tenDlc.GetCampaignsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v3/10dlc/brands/{brand_id}/campaigns/{campaign_id}",
        );
    }

    /**
     * Updates the 10DLC Campaign identified by `campaign_id`. Only the provided fields are changed.
     *
     * @param {Wavix.tenDlc.TenDlcCampaignUpdateRequest} request
     * @param {CampaignsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.tenDlc.campaigns.update({
     *         brand_id: "BM20QP9",
     *         campaign_id: "CKLCK95"
     *     })
     */
    public update(
        request: Wavix.tenDlc.TenDlcCampaignUpdateRequest,
        requestOptions?: CampaignsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.UpdateCampaignsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Wavix.tenDlc.TenDlcCampaignUpdateRequest,
        requestOptions?: CampaignsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.UpdateCampaignsResponse>> {
        const { brand_id: brandId, campaign_id: campaignId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}/campaigns/${core.url.encodePathParam(campaignId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.tenDlc.UpdateCampaignsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v3/10dlc/brands/{brand_id}/campaigns/{campaign_id}",
        );
    }

    /**
     * Deletes a 10DLC Campaign. Associated phone numbers cannot be used as Sender IDs once the Campaign is deleted.
     *
     * @param {Wavix.tenDlc.DeleteCampaignsRequest} request
     * @param {CampaignsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.tenDlc.campaigns.delete({
     *         brand_id: "BM20QP9",
     *         campaign_id: "CKLCK95"
     *     })
     */
    public delete(
        request: Wavix.tenDlc.DeleteCampaignsRequest,
        requestOptions?: CampaignsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.DeleteCampaignsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Wavix.tenDlc.DeleteCampaignsRequest,
        requestOptions?: CampaignsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.DeleteCampaignsResponse>> {
        const { brand_id: brandId, campaign_id: campaignId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}/campaigns/${core.url.encodePathParam(campaignId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.tenDlc.DeleteCampaignsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v3/10dlc/brands/{brand_id}/campaigns/{campaign_id}",
        );
    }

    /**
     * Requests action on a pending or rejected 10DLC Campaign. Use `nudge_intent` to specify the action:
     * - `REVIEW`: Request review for a pending Campaign. - `APPEAL_REJECTION`: Appeal a rejected Campaign.
     * Note:
     * - The Campaign must be at least 72 hours old.
     * - Only one nudge request per Campaign is allowed every 24 hours.
     *
     * @param {Wavix.tenDlc.NudgeCampaignsRequest} request
     * @param {CampaignsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     * @throws {@link Wavix.TooManyRequestsError}
     *
     * @example
     *     await client.tenDlc.campaigns.nudge({
     *         brand_id: "B9FXYNH",
     *         campaign_id: "CSJ4TV0",
     *         nudge_intent: "REVIEW",
     *         description: "Please review the campaign."
     *     })
     */
    public nudge(
        request: Wavix.tenDlc.NudgeCampaignsRequest,
        requestOptions?: CampaignsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__nudge(request, requestOptions));
    }

    private async __nudge(
        request: Wavix.tenDlc.NudgeCampaignsRequest,
        requestOptions?: CampaignsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.SuccessResponse>> {
        const { brand_id: brandId, campaign_id: campaignId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}/campaigns/${core.url.encodePathParam(campaignId)}/nudge`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new Wavix.TooManyRequestsError(
                        _response.error.body as Wavix.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v3/10dlc/brands/{brand_id}/campaigns/{campaign_id}/nudge",
        );
    }
}
