// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wavix from "../../../../../index.js";

export declare namespace PapersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PapersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PapersClient.Options>;

    constructor(options: PapersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Uploads a verification document for one or more phone numbers.
     * Uploaded files must meet the following requirements:
     * - Allowed formats: PNG, JPG, JPEG, TIFF, BMP, or PDF
     * - Maximum file size: 10 MB
     * - Files can't be password protected
     * - PDF files must not contain digital signatures
     *
     * @param {Wavix.numbers.UploadPapersRequest} request
     * @param {PapersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.numbers.papers.upload({
     *         doc_attachment: fs.createReadStream("/path/to/your/file"),
     *         did_ids: "did_ids",
     *         doc_id: 1
     *     })
     */
    public upload(
        request: Wavix.numbers.UploadPapersRequest,
        requestOptions?: PapersClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.NumberDocument[]> {
        return core.HttpResponsePromise.fromPromise(this.__upload(request, requestOptions));
    }

    private async __upload(
        request: Wavix.numbers.UploadPapersRequest,
        requestOptions?: PapersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.NumberDocument[]>> {
        const _body = await core.newFormData();
        _body.append("did_ids", request.did_ids);
        await _body.appendFile("doc_attachment", request.doc_attachment);
        _body.append("doc_id", request.doc_id.toString());
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/numbers/papers",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.NumberDocument[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/numbers/papers");
    }
}
