// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wavix from "../../../index.js";

export declare namespace CallRecordingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Call recording
 */
export class CallRecordingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CallRecordingClient.Options>;

    constructor(options: CallRecordingClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of call recordings for the authenticated account, filtered by date range, number, call, or SIP trunk.
     *
     * @param {Wavix.ListCallRecordingRequest} request
     * @param {CallRecordingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.UnauthorizedError}
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.callRecording.list({
     *         from_date: "2023-01-01",
     *         to_date: "2023-12-31",
     *         from: "123456",
     *         to: "1987654321",
     *         call_uuid: "aa566501-c591-4a8b-b3b9-cc1295398b72",
     *         page: 1,
     *         per_page: 25
     *     })
     */
    public list(
        request: Wavix.ListCallRecordingRequest = {},
        requestOptions?: CallRecordingClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.CallRecordingListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wavix.ListCallRecordingRequest = {},
        requestOptions?: CallRecordingClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.CallRecordingListResponse>> {
        const {
            from_date: fromDate,
            to_date: toDate,
            from: from_,
            to,
            call_uuid: callUuid,
            sip_trunks: sipTrunks,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            from_date: fromDate != null ? fromDate : undefined,
            to_date: toDate != null ? toDate : undefined,
            from: from_,
            to,
            call_uuid: callUuid,
            sip_trunks: sipTrunks,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/recordings",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.CallRecordingListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Wavix.UnauthorizedError(
                        _response.error.body as Wavix.UnauthorizedErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/recordings");
    }

    /**
     * Redirects to the recording file for the call identified by `call_id`. The download URL is returned in the `Location` header.
     *
     * @param {Wavix.GetByCallCallRecordingRequest} request
     * @param {CallRecordingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.UnauthorizedError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.callRecording.getByCall({
     *         call_id: "aa566501-c591-4a8b-b3b9-cc1295398b72"
     *     })
     */
    public getByCall(
        request: Wavix.GetByCallCallRecordingRequest,
        requestOptions?: CallRecordingClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__getByCall(request, requestOptions));
    }

    private async __getByCall(
        request: Wavix.GetByCallCallRecordingRequest,
        requestOptions?: CallRecordingClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { call_id: callId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/recordings/${core.url.encodePathParam(callId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Wavix.UnauthorizedError(
                        _response.error.body as Wavix.UnauthorizedErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/recordings/{call_id}");
    }

    /**
     * Returns the call recording identified by `id`, including its metadata and download URL.
     *
     * @param {Wavix.GetCallRecordingRequest} request
     * @param {CallRecordingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.UnauthorizedError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.callRecording.get({
     *         id: 123
     *     })
     */
    public get(
        request: Wavix.GetCallRecordingRequest,
        requestOptions?: CallRecordingClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.Recording> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wavix.GetCallRecordingRequest,
        requestOptions?: CallRecordingClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.Recording>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/recordings/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.Recording, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Wavix.UnauthorizedError(
                        _response.error.body as Wavix.UnauthorizedErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/recordings/{id}");
    }

    /**
     * Deletes the call recording identified by `id`. Deletion is permanent and removes the recording file.
     *
     * @param {Wavix.DeleteCallRecordingRequest} request
     * @param {CallRecordingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.UnauthorizedError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.callRecording.delete({
     *         id: 123
     *     })
     */
    public delete(
        request: Wavix.DeleteCallRecordingRequest,
        requestOptions?: CallRecordingClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Wavix.DeleteCallRecordingRequest,
        requestOptions?: CallRecordingClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.SuccessResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/recordings/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Wavix.UnauthorizedError(
                        _response.error.body as Wavix.UnauthorizedErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/recordings/{id}");
    }
}
