// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wavix from "../../../../../index.js";

export declare namespace MessagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MessagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MessagesClient.Options>;

    constructor(options: MessagesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of SMS and MMS messages for the authenticated account, filtered by direction, date, and other criteria.
     *
     * @param {Wavix.smsAndMms.ListMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.smsAndMms.messages.list({
     *         sent_after: "2023-04-10",
     *         sent_before: "2023-04-13",
     *         type: "outbound",
     *         from: "15072429497",
     *         to: "16419252149",
     *         tag: "campaignX",
     *         page: 2,
     *         per_page: 50
     *     })
     */
    public list(
        request: Wavix.smsAndMms.ListMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.smsAndMms.ListMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wavix.smsAndMms.ListMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.smsAndMms.ListMessagesResponse>> {
        const {
            sent_after: sentAfter,
            sent_before: sentBefore,
            type: type_,
            from: from_,
            to,
            status,
            tag,
            message_type: messageType,
            page,
            per_page: perPage,
        } = request;
        const _queryParams: Record<string, unknown> = {
            sent_after: sentAfter,
            sent_before: sentBefore,
            type: type_,
            from: from_,
            to,
            status: status != null ? status : undefined,
            tag,
            message_type: messageType != null ? messageType : undefined,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v3/messages",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.smsAndMms.ListMessagesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v3/messages");
    }

    /**
     * Sends an SMS or MMS message. MMS is supported for U.S. numbers only. Track delivery using the returned `message_id` and the message status callback.
     * **Rate limit**: 20 messages per phone number in 24 hours.
     *
     * @param {Wavix.smsAndMms.SendMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.smsAndMms.messages.send({
     *         from: "Wavix",
     *         to: "+447537151866",
     *         message_body: {
     *             text: "Hi there, this is a message from Wavix",
     *             media: null
     *         },
     *         callback_url: "https://you-site.com/webhook",
     *         validity: 3600,
     *         tag: "Fall sale"
     *     })
     */
    public send(
        request: Wavix.smsAndMms.SendMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.SendMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__send(request, requestOptions));
    }

    private async __send(
        request: Wavix.smsAndMms.SendMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.SendMessagesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v3/messages",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.SendMessagesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v3/messages");
    }

    /**
     * Returns the SMS or MMS message identified by `id`, including its delivery status and content.
     *
     * @param {Wavix.smsAndMms.GetMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.smsAndMms.messages.get({
     *         id: "3a525ca2-6909-4c72-9399-905adf7f3a74"
     *     })
     */
    public get(
        request: Wavix.smsAndMms.GetMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.smsAndMms.GetMessagesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wavix.smsAndMms.GetMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.smsAndMms.GetMessagesResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/messages/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.smsAndMms.GetMessagesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v3/messages/{id}");
    }

    /**
     * Streams matching SMS and MMS messages as newline-delimited JSON (NDJSON), one message per line, for bulk export.
     *
     * @param {Wavix.smsAndMms.ListAllMessagesRequest} request
     * @param {MessagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.smsAndMms.messages.listAll({
     *         sent_after: "2023-04-10T00:00:00",
     *         sent_before: "2023-04-13T23:59:59",
     *         type: "outbound",
     *         from: "15072429497",
     *         to: "16419252149",
     *         tag: "campaignX"
     *     })
     */
    public listAll(
        request: Wavix.smsAndMms.ListAllMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): core.HttpResponsePromise<string> {
        return core.HttpResponsePromise.fromPromise(this.__listAll(request, requestOptions));
    }

    private async __listAll(
        request: Wavix.smsAndMms.ListAllMessagesRequest,
        requestOptions?: MessagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<string>> {
        const {
            sent_after: sentAfter,
            sent_before: sentBefore,
            type: type_,
            from: from_,
            to,
            status,
            tag,
            message_type: messageType,
        } = request;
        const _queryParams: Record<string, unknown> = {
            sent_after: sentAfter,
            sent_before: sentBefore,
            type: type_,
            from: from_,
            to,
            status: status != null ? status : undefined,
            tag,
            message_type: messageType != null ? messageType : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v3/messages/all",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as string, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v3/messages/all");
    }
}
