// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wavix from "../../../../../index.js";

export declare namespace TransactionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TransactionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TransactionsClient.Options>;

    constructor(options: TransactionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of billing transactions for the sub-account identified by `id`, within the requested date range.
     *
     * @param {Wavix.subAccounts.ListTransactionsRequest} request
     * @param {TransactionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.UnauthorizedError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     * @throws {@link Wavix.ServiceUnavailableError}
     *
     * @example
     *     await client.subAccounts.transactions.list({
     *         id: 123,
     *         from_date: "2023-01-01",
     *         to_date: "2023-12-31",
     *         type: 1,
     *         page: 1,
     *         per_page: 25
     *     })
     */
    public list(
        request: Wavix.subAccounts.ListTransactionsRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.SubAccountsTransactionsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wavix.subAccounts.ListTransactionsRequest,
        requestOptions?: TransactionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.SubAccountsTransactionsListResponse>> {
        const { id, from_date: fromDate, to_date: toDate, type: type_, page, per_page: perPage } = request;
        const _queryParams: Record<string, unknown> = {
            from_date: fromDate,
            to_date: toDate,
            type: type_,
            page,
            per_page: perPage,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/sub-organizations/${core.url.encodePathParam(id)}/billing/transactions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wavix.SubAccountsTransactionsListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Wavix.UnauthorizedError(
                        _response.error.body as Wavix.UnauthorizedErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Wavix.ServiceUnavailableError(
                        _response.error.body as Wavix.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/sub-organizations/{id}/billing/transactions",
        );
    }
}
