// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Wavix from "../../../index.js";
import { FileClient } from "../resources/file/client/Client.js";

export declare namespace SpeechAnalyticsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Call transcription and speech analytics
 */
export class SpeechAnalyticsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SpeechAnalyticsClient.Options>;
    protected _file: FileClient | undefined;

    constructor(options: SpeechAnalyticsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get file(): FileClient {
        return (this._file ??= new FileClient(this._options));
    }

    /**
     * Uploads an audio file for transcription. Transcription is asynchronous; Wavix sends a POST callback to `callback_url` when it completes, including the `request_id` returned by this request.
     *
     * Callback body:
     * ```json
     *    {
     *         "request_id": "e865ea07-25af-4fdd-876e-04b0d41d5ebd",
     *         "status": "completed",
     *         "error": null
     *    }
     * ```
     *
     * - `request_id`: ID of the transcription request.
     * - `status`: One of `completed` (transcription succeeded) or `failed` (transcription encountered an error).
     * - `error`: Error description, or `null` when the transcription succeeded.
     *
     * @param {Wavix.CreateSpeechAnalyticsRequest} request
     * @param {SpeechAnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.UnprocessableEntityError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.speechAnalytics.create({
     *         file: fs.createReadStream("/path/to/your/file"),
     *         callback_url: "callback_url"
     *     })
     */
    public create(
        request: Wavix.CreateSpeechAnalyticsRequest,
        requestOptions?: SpeechAnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.CreateSpeechAnalyticsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wavix.CreateSpeechAnalyticsRequest,
        requestOptions?: SpeechAnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.CreateSpeechAnalyticsResponse>> {
        const _body = await core.newFormData();
        await _body.appendFile("file", request.file);
        _body.append("callback_url", request.callback_url);
        if (request.insights != null) {
            _body.append("insights", request.insights?.toString());
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/speech-analytics",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.CreateSpeechAnalyticsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wavix.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/speech-analytics");
    }

    /**
     * Returns the transcription for the request identified by `request_id`, including transcript, speaker turns, and insights when available.
     *
     * @param {Wavix.GetSpeechAnalyticsRequest} request
     * @param {SpeechAnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.speechAnalytics.get({
     *         request_id: "e865ea07-25af-4fdd-876e-04b0d41d5ebd"
     *     })
     */
    public get(
        request: Wavix.GetSpeechAnalyticsRequest,
        requestOptions?: SpeechAnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.GetSpeechAnalyticsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wavix.GetSpeechAnalyticsRequest,
        requestOptions?: SpeechAnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.GetSpeechAnalyticsResponse>> {
        const { request_id: requestId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/speech-analytics/${core.url.encodePathParam(requestId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.GetSpeechAnalyticsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/speech-analytics/{request_id}",
        );
    }

    /**
     * Re-runs transcription on the file identified by `request_id`, replacing the existing transcript.
     *
     * @param {Wavix.SpeechAnalyticsRetranscribeRequest} request
     * @param {SpeechAnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.NotFoundError}
     * @throws {@link Wavix.UnprocessableEntityError}
     *
     * @example
     *     await client.speechAnalytics.retranscribe({
     *         request_id: "e865ea07-25af-4fdd-876e-04b0d41d5ebd",
     *         callback_url: "https://you-site.com/webhook"
     *     })
     */
    public retranscribe(
        request: Wavix.SpeechAnalyticsRetranscribeRequest,
        requestOptions?: SpeechAnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retranscribe(request, requestOptions));
    }

    private async __retranscribe(
        request: Wavix.SpeechAnalyticsRetranscribeRequest,
        requestOptions?: SpeechAnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.SuccessResponse>> {
        const { request_id: requestId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/speech-analytics/${core.url.encodePathParam(requestId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wavix.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v1/speech-analytics/{request_id}",
        );
    }
}
