// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wavix from "../../../../../index.js";

export declare namespace TranscriptionClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TranscriptionClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TranscriptionClient.Options>;

    constructor(options: TranscriptionClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the transcription of the recorded call identified by `call_id`, including the transcript, speaker turns, and summary.
     *
     * @param {Wavix.cdrs.GetTranscriptionRequest} request
     * @param {TranscriptionClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.cdrs.transcription.get({
     *         call_id: "bbaa37bf-430a-46da-ade3-c248e407016"
     *     })
     */
    public get(
        request: Wavix.cdrs.GetTranscriptionRequest,
        requestOptions?: TranscriptionClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.CdrTranscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Wavix.cdrs.GetTranscriptionRequest,
        requestOptions?: TranscriptionClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.CdrTranscriptionResponse>> {
        const { call_id: callId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/cdrs/${core.url.encodePathParam(callId)}/transcription`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.CdrTranscriptionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/cdrs/{call_id}/transcription",
        );
    }
}
