// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wavix from "../../../../../index.js";

export declare namespace VerificationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VerificationClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VerificationClient.Options>;

    constructor(options: VerificationClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a 2FA verification and sends a one-time password (OTP) to the destination phone number over the selected channel. Requires a 2FA service configured in the Wavix portal; the service is reused to generate and validate OTPs.
     *
     * The verification proceeds through three steps:
     * 1. Create a verification to generate and send an OTP.
     * 2. Resend the OTP on the same verification if needed.
     * 3. Validate the OTP through the check endpoint.
     *
     * @param {Wavix.twoFa.TwoFactorVerificationCreateRequest} request
     * @param {VerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.twoFa.verification.create({
     *         service_id: "7204a030201211ee9fb47d093f2f127c",
     *         to: "447919433768",
     *         channel: "sms"
     *     })
     */
    public create(
        request: Wavix.twoFa.TwoFactorVerificationCreateRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.twoFa.CreateVerificationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wavix.twoFa.TwoFactorVerificationCreateRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.twoFa.CreateVerificationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                "v1/two-fa/verification",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wavix.twoFa.CreateVerificationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/two-fa/verification");
    }

    /**
     * Resends the OTP for the verification identified by `session_id` over the specified channel. Previously sent codes are invalidated.
     *
     * @param {Wavix.twoFa.TwoFactorVerificationResendRequest} request
     * @param {VerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.twoFa.verification.resend({
     *         session_id: "2953d4308f2e11ecb75fcdafd6d2d687",
     *         channel: "sms"
     *     })
     */
    public resend(
        request: Wavix.twoFa.TwoFactorVerificationResendRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.twoFa.ResendVerificationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__resend(request, requestOptions));
    }

    private async __resend(
        request: Wavix.twoFa.TwoFactorVerificationResendRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.twoFa.ResendVerificationResponse>> {
        const { session_id: sessionId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/two-fa/verification/${core.url.encodePathParam(sessionId)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wavix.twoFa.ResendVerificationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/two-fa/verification/{session_id}",
        );
    }

    /**
     * Validates the OTP submitted by the end user against the verification identified by `session_id`.
     *
     * @param {Wavix.twoFa.TwoFactorVerificationCheckRequest} request
     * @param {VerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     *
     * @example
     *     await client.twoFa.verification.check({
     *         session_id: "2953d4308f2e11ecb75fcdafd6d2d687",
     *         code: "123456"
     *     })
     */
    public check(
        request: Wavix.twoFa.TwoFactorVerificationCheckRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.twoFa.CheckVerificationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__check(request, requestOptions));
    }

    private async __check(
        request: Wavix.twoFa.TwoFactorVerificationCheckRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.twoFa.CheckVerificationResponse>> {
        const { session_id: sessionId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/two-fa/verification/${core.url.encodePathParam(sessionId)}/check`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wavix.twoFa.CheckVerificationResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/two-fa/verification/{session_id}/check",
        );
    }

    /**
     * Cancels the 2FA verification identified by `session_id`. No further codes are sent, and previously sent codes can no longer be validated. A new verification is required to send another code.
     *
     * @param {Wavix.twoFa.CancelVerificationRequest} request
     * @param {VerificationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.twoFa.verification.cancel({
     *         session_id: "2953d4308f2e11ecb75fcdafd6d2d687"
     *     })
     */
    public cancel(
        request: Wavix.twoFa.CancelVerificationRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(request, requestOptions));
    }

    private async __cancel(
        request: Wavix.twoFa.CancelVerificationRequest,
        requestOptions?: VerificationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.SuccessResponse>> {
        const { session_id: sessionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/two-fa/verification/${core.url.encodePathParam(sessionId)}/cancel`,
            ),
            method: "PATCH",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v1/two-fa/verification/{session_id}/cancel",
        );
    }
}
