// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wavix from "../../../../../index.js";

export declare namespace SessionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SessionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SessionsClient.Options>;

    constructor(options: SessionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the 2FA verifications for the service identified by `service_id`, within the requested date range.
     *
     * @param {Wavix.twoFa.ListSessionsRequest} request
     * @param {SessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.twoFa.sessions.list({
     *         service_id: "7204a030201211ee9fb47d093f2f127c",
     *         from: "2022-01-01",
     *         to: "2022-01-31"
     *     })
     */
    public list(
        request: Wavix.twoFa.ListSessionsRequest,
        requestOptions?: SessionsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.ListSessionsResponseItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wavix.twoFa.ListSessionsRequest,
        requestOptions?: SessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.ListSessionsResponseItem[]>> {
        const { service_id: serviceId, from: from_, to } = request;
        const _queryParams: Record<string, unknown> = {
            from: from_,
            to,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/two-fa/service/${core.url.encodePathParam(serviceId)}/sessions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.ListSessionsResponseItem[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/two-fa/service/{service_id}/sessions",
        );
    }
}
