// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wavix from "../../../../../index.js";

export declare namespace BrandVettingAppealsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BrandVettingAppealsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BrandVettingAppealsClient.Options>;

    constructor(options: BrandVettingAppealsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the external vetting appeals for the 10DLC Brand identified by `brand_id`.
     *
     * @param {Wavix.tenDlc.ListBrandVettingAppealsRequest} request
     * @param {BrandVettingAppealsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     *
     * @example
     *     await client.tenDlc.brandVettingAppeals.list({
     *         brand_id: "BMQFB7X"
     *     })
     */
    public list(
        request: Wavix.tenDlc.ListBrandVettingAppealsRequest,
        requestOptions?: BrandVettingAppealsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.TenDlcBrandVettingAppeal[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Wavix.tenDlc.ListBrandVettingAppealsRequest,
        requestOptions?: BrandVettingAppealsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.TenDlcBrandVettingAppeal[]>> {
        const { brand_id: brandId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}/vettings/appeals`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.TenDlcBrandVettingAppeal[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v3/10dlc/brands/{brand_id}/vettings/appeals",
        );
    }

    /**
     * Submits an appeal for an external vetting of the 10DLC Brand identified by `brand_id`.
     *
     * @param {Wavix.tenDlc.TenDlcBrandVettingAppealCreateRequest} request
     * @param {BrandVettingAppealsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.ForbiddenError}
     * @throws {@link Wavix.NotFoundError}
     * @throws {@link Wavix.UnprocessableEntityError}
     *
     * @example
     *     await client.tenDlc.brandVettingAppeals.create({
     *         brand_id: "B6AI7PA",
     *         appeal_categories: ["VERIFY_TAX_ID"],
     *         evidence: ["855dff49-c097-4645-3983-08dcb9856232"]
     *     })
     */
    public create(
        request: Wavix.tenDlc.TenDlcBrandVettingAppealCreateRequest,
        requestOptions?: BrandVettingAppealsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.tenDlc.CreateBrandVettingAppealsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wavix.tenDlc.TenDlcBrandVettingAppealCreateRequest,
        requestOptions?: BrandVettingAppealsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.tenDlc.CreateBrandVettingAppealsResponse>> {
        const { brand_id: brandId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v3/10dlc/brands/${core.url.encodePathParam(brandId)}/vettings/appeals`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Wavix.tenDlc.CreateBrandVettingAppealsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Wavix.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Wavix.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new Wavix.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v3/10dlc/brands/{brand_id}/vettings/appeals",
        );
    }
}
