// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Wavix from "../../../../../index.js";

export declare namespace StreamsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class StreamsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<StreamsClient.Options>;

    constructor(options: StreamsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Starts streaming the media of the call identified by `call_id` to the configured destination. Returns the `stream_id`.
     *
     * @param {Wavix.callControl.CallStreamCreateRequest} request
     * @param {StreamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.BadRequestError}
     * @throws {@link Wavix.UnauthorizedError}
     *
     * @example
     *     await client.callControl.streams.create({
     *         call_id: "call_id",
     *         stream_url: "wss://examples.com/stream",
     *         stream_type: "oneway",
     *         stream_channel: "inbound"
     *     })
     */
    public create(
        request: Wavix.callControl.CallStreamCreateRequest,
        requestOptions?: StreamsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.CallStreamResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Wavix.callControl.CallStreamCreateRequest,
        requestOptions?: StreamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.CallStreamResponse>> {
        const { call_id: callId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/calls/${core.url.encodePathParam(callId)}/streams`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.CallStreamResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Wavix.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Wavix.UnauthorizedError(
                        _response.error.body as Wavix.UnauthorizedErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/calls/{call_id}/streams");
    }

    /**
     * Stops the media stream identified by `id` on the call identified by `call_id`.
     *
     * @param {Wavix.callControl.DeleteStreamsRequest} request
     * @param {StreamsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Wavix.UnauthorizedError}
     *
     * @example
     *     await client.callControl.streams.delete({
     *         call_id: "call_id",
     *         id: "id"
     *     })
     */
    public delete(
        request: Wavix.callControl.DeleteStreamsRequest,
        requestOptions?: StreamsClient.RequestOptions,
    ): core.HttpResponsePromise<Wavix.SuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Wavix.callControl.DeleteStreamsRequest,
        requestOptions?: StreamsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Wavix.SuccessResponse>> {
        const { call_id: callId, id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.WavixEnvironment.Default,
                `v1/calls/${core.url.encodePathParam(callId)}/streams/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Wavix.SuccessResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Wavix.UnauthorizedError(
                        _response.error.body as Wavix.UnauthorizedErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.WavixError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/calls/{call_id}/streams/{id}",
        );
    }
}
